@model IEnumerable<PizzeriaWebApp.DataLayer.Product>


@{ var user= Context.User.Identity.Name; 

    ViewBag.Title = "Home Page";
}
<main>
    <section class="row">
        <h1 id="title" class="text-danger">Ciao @user! </h1>


    </section>


    @if (Model.Any())
    {

        <div class="container d-flex flex-wrap">

            @foreach (var product in Model)
            {
                <div class="box text-center pb-4">
                    
                        <img class="prod-img" src="@Url.Content(@product.Url)" alt="@product.Name">
                   
                        <div>
                            <h5 class="pt-3 text-danger">@product.Name</h5> 
                            <p>@product.Price €</p>
                            <table class="table ">
                                <tr><th class="text-success ">Ingredienti:</th></tr>
                                <tr><td class="table-warning radius">@product.Description</td></tr>
                            </table>
                           
                            <form action="/Home/AddToCart" method="POST">
                                <input name="qty" type="number" id="qty" />
                                <input type="hidden" value="@product.Id" name="id" id="id" />
                                <button type="submit" class="btn btn-success">Aggiungi</button>
                            </form>
                        </div>
                </div>
            }
        </div>


    }
    else
    {

        <div class="alert alert-warning">Nessun prodotto disponibile</div>
    }

</main>
@* <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img class="prod-img" src="@Url.Content(@product.Url)" alt="@product.Name">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4   ">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text pt-3">@product.Description</p>
            <p class="card-text pt-5">@product.Price</p>
            <br />
            <form action="/Home/AddToCart" method="POST" >
                <input name="qty" id="qty" />
                <input type="hidden" value="@product.Id" name="id" id="id" />
                <button type="submit" class="btn btn-primary">Aggiungi</button>
            </form>
        </div>
    </div> *@