@model DataLayer.Comuni

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comuni</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comune)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comune)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Regione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Regione)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sigla)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
