@model AssegnaTagViewModel


<form method="post">
    <input type="hidden" asp-for="@Model.Id" name="ImageId" value="@Model.Id" />
    <label for="Tags">Tags:</label><br />

    @for (int i = 0; i < Model.Tags.Count; i++)
    {
        <input type="checkbox" asp-for="@Model.Tags[i].IsChecked" checked="@Model.Image.Tags.Any(x=>x.Name.Equals(Model.Tags[i].Name))" />

        @Model.Tags[i].Name
        @Html.HiddenFor(m => Model.Tags[i].Id, htmlAttributes: new {@name="tagId" })
        @Html.HiddenFor(m => Model.Tags[i].Name, htmlAttributes: new { @name = "tagName" })

        <br />

    }

    <button type="submit">Salva</button>
</form>
@*Model.Image.Tags.Any(x=>x.Name.Equals(Model.Tags[i].Name))*@