@using DataLayer
@using Microsoft.EntityFrameworkCore;
@model PersonaDataViewModel
@inject ComuniContext _comuni;
@{
    
    var province = await _comuni.Comunis.Distinct().ToListAsync();
}


<form asp-action="Index" asp-controller="CF">
	<div class="d-flex justify-content-center">
		<div class=" d-flex flex-column bottone">
		
			<div class="carta ">
				
				<div class="fisc">
					<label class="hidden label">Codice Fiscale:</label>
					@if (Model.CodiceFiscale != "")
					{
						<strong>@Model.CodiceFiscale</strong>
					}
					else
					{
						<strong>&nbsp;</strong>
					}

				</div>
				<label class="hidden label">Cognome:</label>
				<input asp-for="@Model.LastName" class="text-form surname">
				
				<br />
				<label class="hidden label">Nome:</label>
				<input asp-for="@Model.FirstName"  class="text-form name">
				<span asp-validation-for="@Model.FirstName" class="text-danger"></span>
				
				<br />
				<label class="hidden label">Comuni:</label>
				<select id="comuni" asp-for="@Model.Istat"  class="text-form istat">
				</select>
				<br class="hidden"/>
				<label class="hidden label">Genere:</label>
				<select asp-for="@Model.Gender"  class="text-form gender">
					<option default>M</option>
					<option>F</option>
				</select>

				<br class="hidden" />
				<label class="hidden label">Province:</label>
                <select id="province" class="text-form province">
                    <option default disabled value=''>SEL</option>
                    @foreach (var i in province)
                    {
                        <option value="@i.Sigla">@i.Sigla</option>
                    }
                </select>
				<br class="hidden" />
				<label class="hidden label">Data di Nascita:</label>
				<input asp-for="@Model.Birthday" class="text-form data" type="date">
				

			</div>
			<br />
			@*<div asp-validation-summary="All" class="text-danger"></div>
			
			<span asp-validation-for="@Model.LastName" class="text-danger"></span>
			<span asp-validation-for="@Model.Birthday" class="text-danger"></span>
			<span asp-validation-for="@Model.Gender" class="text-danger"></span>
			<span asp-validation-for="@Model.Istat" class="text-danger"></span>*@
			<button class="btn btn-lg btn-success text-center bottone">Calcola</button>
		</div>
	</div>
</form>










<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script src="~/js/GetComuniProvince.js"></script>

